.cart {
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.cart__icon {
  flex: 0 0 18px;

  @media (min-width: $width-mobile-h) {
    margin-right: 8px;
  }
}

.cart__counter {
  z-index: 2;
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 10px;
  user-select: none;
  pointer-events: none;
  padding: 0 4px;
  border-radius: 100px;
  background: #fc4646;
  font-weight: 600;
  font-size: 10px;
  line-height: 130%;
  color: #ffffff;

  @media (min-width: $width-mobile-h) {
    left: 9px;
    top: -4px;
  }
}

.cart__text {
  display: none;

  @media (min-width: $width-mobile-h) {
    display: block;
  }
}
